<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="author" content="Kara Manseau and Brian Dong">
		<title>Software Programming Quiz</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
		{{#each jsscripts}}
    		<script src="/static/{{this}}"></script>
    	{{/each}}
	</head>
	<body>
		<h1 align="center">Software Programming Quiz</h1>
		{{{body}}}
	</body>
</html>
