
<!--main content start-->
{{!--<script type="text/JavaScript">--}}

<script type="text/JavaScript">
    function createNewElement() {
        // First create a DIV element.
        let question_div = document.createElement('div');
        question_div.className = "panel-body";

        document.getElementById("newElementId").appendChild(question_div);
        let count = document.getElementById("newElementId").childElementCount;
        question_div.id = "Question_".concat(count);



        let label = document.createElement('label');
        label.innerText = "Question ".concat(count);
        // label.innerText = count;
        let questionBox = document.createElement('input');
        questionBox.className = "form-control";
        questionBox.type = 'text';
        questionBox.id = "QuestionBox_".concat(count);

        // let deleteButton = document.createElement('input');
        // deleteButton.className = "btn btn-primary";
        // deleteButton.value = "Delete"
        // deleteButton.type = 'button';
        // deleteButton.id = "deleteButton_".concat(count);
        // deleteButton.onclick = "deleteElement();";
        // let br = document.createElement('br');




        // Then add the content (a new input box) of the element.
        // count = document.getElementById("newElementId").childElementCount

        // txtNewInputBox.innerHTML.name = document.getElementById("newElementId").childElementCount;

        // txtNewInputBox.innerText=count
        // Finally put it where it is supposed to appear.
        // let name = "Question_".concat(count);
        question_div.appendChild(label);

        question_div.appendChild(questionBox);

        let deleteButton = "<input class='btn btn-primary' type='button' value='Delete' id='deleteButton' onclick='deleteElement(".concat(count, ");'>");

        question_div.innerHTML = question_div.innerHTML.concat(deleteButton);
        console.log(question_div.innerHTML);
        // question_div.appendChild(deleteButton);
        // document.getElementById(deleteButton.id).addEventListener("click", deleteElement(count));
        // document.getElementById('deleteButton').onclick = deleteElement(deleteButton.id);
        // document.getElementById("newElementId").children[document.getElementById("newElementId").childElementCount-1].name = document.getElementById("newElementId").childElementCount;
        // count = document.getElementById("newElementId").childElementCount/3;
        // id = "<input type='text' id='newInputBox_".concat(count);
        // txtNewInputBox.innerHTML = "<input class='form-control' type='text' id='question_".concat(count, "'>");

        // deleteButton.id = count;
        // deleteButton.onclick = deleteElement(deleteButton.id);
    }

    function deleteElement(id) {
        console.log("button = ", id);
        document.getElementById("Question_".concat(id)).remove();
        for (item in document.getElementById("newElementId").children) {
            child = console.log(document.getElementById("newElementId").children(item))
            child.id = "Question_".concat(item+1);
            child.children[0].innerText = "Question_".concat(item+1);
            child.children[1].id = "QuestionBox_".concat(item+1);
            child.children[2].onclick = "deleteElement('".concat(item, ")';");
        }

    }

</script>

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-files-o"></i> Create New Quiz</h3>

        </div>
    </div>
    <!-- Form validations -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    Quiz Details
                </header>
                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/">
                            <div class="form-group ">
                                <label for="fname" class="control-label col-lg-2">Quiz Name <span class="required">*</span></label>
                                <div class="col-lg-10">
                                    <input class="form-control" id="fname" name="fname" minlength="2" type="text" required />
                                </div>
                            </div>

{{!--                            <div class="form-group">--}}
{{!--                                <div class="col-lg-offset-2 col-lg-10">--}}
{{!--                                    <button class="btn btn-primary" type="submit">Save</button>--}}
{{!--                                </div>--}}
{{!--                            </div>--}}
                        </form>
                    </div>

                <br>
{{!--            </section><br>--}}
{{!--            <section class="panel">--}}
                <header class="panel-heading">
                    Questions
{{!--                    <div id="dynamicCheck">--}}
{{!--                    <div class="panel-actions">--}}
                        <input class="btn btn-info btn-sm"  type="button" value="Add Question" onclick="createNewElement();"/>

{{!--                    </div>--}}
                </header>

                <div class="panel-body">
                    <div class="form">
                        <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/">
{{!--                            <div class="form-group ">--}}
{{!--                                <label for="fname" class="control-label col-lg-2">Question <span class="required">*</span></label>--}}
{{!--                                <div class="col-lg-10">--}}
{{!--                                    <input class="form-control" id="fname" name="fname" minlength="2" type="text" required />--}}
{{!--                                </div>--}}
{{!--                            </div>--}}


                                <div  id="newElementId"></div>
                                <div class="form-group">
    {{!--                                <div class="col-lg-offset-2 col-lg-10">--}}
    {{!--                                    --}}
    {{!--                                </div>--}}
                                    <div class="col-lg-offset-2 col-lg-10">
    {{!--                                    <p>Click the button to create a Text Field.</p>--}}

    {{!--                                    <button onclick="myFunction()">Try it</button>--}}

                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
    <!-- page end-->
</section>

<!--main content end-->